.productos {
  width: 300px;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productos img {
  height: 170px;
  border-radius: 8px;
}

.productos img p {
  margin-bottom: 8px;
}

.info_precio {
  font-weight: bold;
  text-align: center;
}

.info_name {
  font-size: 1rem;
  overflow: hidden;
  text-align: center;
}

.info_boton {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: #171717;
  background-color: #fff;
  padding: 8px 16px;
  border: 1px solid #171717;
  font-size: 1rem;
}

.info_boton:hover {
  background: #171717;
  color: #fff;
}
